* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.App {
  max-width: 400px;
  padding: 0 16px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.chat-container {
  border: 1px solid #D3DCE3;
}

.empty-state {
  text-align: center;
  form {
    margin-top: 16px;
  }
}

.sign-in {
  width: 240px;
  margin: 0 auto;
  
  input {
    display: block;
  }
}