.message {
  margin-bottom: 16px;

  &.current {
    padding: 8px;
    border: 1px solid #D3DCE3;
    border-radius: 4px;
    margin-right: 16px;
  }

  span {
    display: block;
  }

  .username, .timestamp {
    color: #6A7685;
    font-size: 14px;
  }

  .text {
    color: #2F3740;
    font-weight: 500;
    margin: 2px 0;
  }
}
